.dashboard #main-content {
    margin-left: 5px;
}

#dialog-container {
    position: absolute;
}

#selector-nav #create-entry a {
    display: inline;
}

#blog-nav li li a,
#selector-nav li li a,
#utility-nav li li a,
#blog-nav li li span,
#selector-nav li li span,
#utility-nav li li span {
    width: 100%;
}

#new_entry_prefs {
    height: 1%;
}

#content-nav ul li a {
    height: 1%;
}

#folder-selector {
    left: 0;
}

#category-field.selector-active .field-content {
    position: relative;
    height: 180px;
}

#category-field.selector-active #folder-selector {
    position: absolute;
    left: -90px;
    top: 30px;
}

.msg {
    height: 1%;
}

.widget-close-link {
    margin-right: 5px; /* http://www.jaymeblackmon.com/ie6-double-margin-bug-fix */
}
