/* Chromeless ------------------------------------------------------------ */
/* - Generic */
body {
    color: #2b2b2b;
    background-color: #f3f3f3;
    font-size: 13px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

a { 
    color: #5c909b;
}
a:hover, 
a:active { 
    color: #839b5c;
    text-decoration: none;
}

ul li {
    list-style-type: disc;
    margin-left: 15px;
}

fieldset {
    margin: 0;
}

/* -- Hn */
h2 {
    font-weight: bold;
}

h3 {
    text-shadow: #fff 0 1px 0;
    margin-bottom: 20px;
}

#page-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

/* - Component */
.ready {
    font-weight: bold;
    color: #93b06b;
}

.note {
    clear: both;
    padding: 10px 0 10px 0;
}

.hint {
    margin-top: 3px;
    color: #7b7c7d;
}
.input-hint {
    color:#999;
}

/* - Field */
.field {
    margin-bottom: 20px;
}

.field-header label {
    color: #777;
    font-weight: bold;
}

#file-field .field-content, 
#file-field .field-content #file { 
    margin-top: 10px;
}

/* - Actions Bar */
.action-buttons {
    margin: 20px 0 15px;
    text-align: right;
}

.actions-bar {
    position: relative;
    min-height: 30px;
    margin: 25px 0 0;
}

#container.show-actions-bar-top .actions-bar-top {
    display: block;
}
#container.show-actions-bar-bottom .actions-bar-bottom {
    display: block;
}

.actions-bar-login { 
    text-align: right;
}

/* - Layout */
#container {
    position: relative;
    width: 520px;
    margin: 45px auto 30px;
    padding: 30px 30px 25px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* -- Wide Layout */
.error-screen #container {
    width: 95%;
}

.chromeless-wide { 
    background-color: #fff;
}
.chromeless-wide #container-inner {
    background: none;
}
.chromeless-wide #container {
    width: 360px;
    margin: 20px auto;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* - Header */
#header {
    background: transparent #fff;
}
#header .comment_signin_title {
    margin-left: 20px;
}

#brand {
    width: 250px;
    height: 38px;
    margin: 0 0 20px;
    font-size: 26px;
    background: #fff url(../images/chromeless/mt_logo.png) center no-repeat;
}

#brand span { 
    display: none;
}

#nav {
    position: absolute;
    top: 30px;
    right: 20px;
}

#nav .step {
    float: left;
    background: url('../images/chromeless/nav_off.png');
    height: 15px;
    width: 14px;
}

#nav .step_active {
    float: left;
    background: url('../images/chromeless/nav_on.png');
    height: 15px;
    width: 14px;
}

/* - Sign in Screen */
#sign-in #container { 
    width: 340px;
}

#sign-in #username, 
#sign-in #password { 
    font-size: 22px;
    width: 100%;
    color: #2b2b2b;
}

#sign-in #page-title { 
    display: none;
}

#forget-password { 
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
}

#sign-up { 
    clear: both;
    margin: 15px 0 0;
    text-align: right;
}

#sign-in dl { 
    margin: 0;
}

#sign-in dd { 
    margin-left: 0;
}

#sign-in .has-auth-icon input { 
    padding-left: 22px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 3px center;
}

/* -- Reset Password, Change Password */
#reset-password #container, 
#change-password #container { 
    width: 340px;
}

/* - Upgrade */
.upgrade .upgrade-process {
    position: relative;
    overflow: auto;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    height: 200px;
}

.upgrade #progress-bar { 
    margin: 25px 0 10px;
    text-align: right;
}

/* - Profile */
ul#profile-data li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#profile_userpic-field .field-content label {
    display: block;
    margin-top: 5px;
}

.mt-profile-edit form {
    margin-bottom: .75em;
}

.custom-field-radio-list {
    margin-bottom: .25em;
}
.custom-field-radio-list li {
    list-style: none;
    margin-left: 0;
}

/* -- Start */
.mt-config-file-path {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    height: 2.75em;
    font-weight:bold;
}

/* -- System Check */
#packages-list dt { 
    margin-bottom: 5px;
}
#packages-list dd { 
    margin-bottom: 15px;
    color: #7B7C7D;
}
.module-name {
    font-weight: bold;
}
.module-name a {
    color: black;
    text-decoration: none;
}
.module-name a:hover {
    text-decoration: underline;
}
.module-description { 
    margin-bottom: 5px;
}

/* -- Database Setting */
#db_hint {
    margin-top: -10px;
    margin-bottom: 10px;
}
#db_hint p {
    margin-bottom: 3px;
}

/* -- LDAP */
table.show-admin {
    width: 100%;
    margin: 0 0 15px;
    border-bottom: 0;
    border: solid 1px #c8c2be;
    table-layout: fixed;
}
table.show-admin th, 
table.show-admin td { 
    font-family: "Lucida Grande", Verdana, sans-serif;
    text-align: left;
    overflow: hidden;
}
table.show-admin th {
    padding: 7px 8px;
    border-bottom: 1px solid #c8c2be;
    color: #2b2b2b;
    font-size: 11px;
    font-weight: bold;
    text-shadow: #f8fbf8 0 1px 0;
    background: #dcdddd url(../images/widget/widget-header.png) repeat-x left top;
}
table.show-admin td {
    padding: 5px 8px;
}
table.show-admin { 
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
}
table.show-admin th:first-child { 
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-top-left-radius: 5px;
}
table.show-admin th:last-child { 
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-top-right-radius: 5px;
}


/* - Publush */
/* -- Progress Bar */
.progress-bar {
    height: 20px;
    width: 322px;
    background: url('../images/progress-bar.gif') repeat-x 100% 0;
    border: 1px solid #9CBCCB;
}
.progress-bar span {
    display: none;
}

.progress-bar-indeterminate {
    background: url('../images/progress-bar-indeterminate.gif') repeat-x 0 0;
}


