/* Style for Form Element */

/* - Input */
.text {
    width: 75%;
    padding: 0.2em 0.25em;
    border: 1px solid #dcdddd;
    border-top-color: #adadad;
    border-left-color: #adadad;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fbfbfb;
    font-size: 13px;
    vertical-align: middle;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.text.med {
    width: 50%;
}
.text.full {
    width: 100%;
    max-width: 100%;
}
.text.short,
.password {
    width: 200px;
}
.text.num, 
.text.days {
    width: 4em;
    text-align: center;
}
.text.date {
    width: 7.5em;
}
.text.time,
.text.min {
    width: 5.5em;
}
.text.datetime {
    width: 10em;
}
.text.path {
    width: 12em;
    margin: 0 0.2em;
}
.text.low {
    height: 5em;
    overflow:auto;
}
.text.high {
    height: 12em;
    overflow:auto;
}
.readonly { 
    background-color: #dcdddd ! important;
    color: #7b7c7d;
}

.text:focus {
    background-color: #fff;
    outline: 0;
}

select { 
    height: 1.9em;
    border: 1px solid #adadad;
    font-size: 12px;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}

.multiple-selection li {
    display: inline-block;
    margin: 10px 15px 0 0;
}

#notification-listing-table input[type="text"], 
.batch-edit input[type="text"] { 
    width: 100%;
}

#notification-listing-table .url input[type="text"] { 
    width: 60%;
}

/* - Button */ 
.button, 
.ui-button { 
    line-height: 1.3;
    overflow: visible;
    display: inline-block;
    position: relative;
    outline: none;
    margin-right: 5px;
    padding: 3px 0.5em 2px;
    border: 1px solid #adadad;
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    color: #2b2b2b;
    font-size: 12px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.ui-button-text {
    display: inline-block;
}
.button:hover, 
.ui-button:hover {
    color: inherit;
    background-color: #e7e7eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e7e7eb));
    background: -moz-linear-gradient(top, #fafafa, #e7e7eb);
}
.button:active, 
.ui-button:active {
    background-color: #bbb;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#dcdddd));
    background: -moz-linear-gradient(top, #bbb, #dcdddd);
}

/* -- Large Button */
.button.action, 
.ui-button.action {
    padding: 0.25em 1em 0.2em;
    border-color: #7b7c7d;
    background-color: #7b7c7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#9ea1a3), to(#7b7c7d));
    background: -moz-linear-gradient(top, #9ea1a3, #7b7c7d);
    color: #fffffc;
    text-shadow: #383c3c 1px 1px 1px;
    font-size: 14px;
    font-weight: bold;
}
.button.action:hover, 
.ui-button.action:hover {
    border-color: #88898a;
    background-color: #88898a;
    background: -webkit-gradient(linear, left top, left bottom, from(#abaeaf), to(#88898a));
    background: -moz-linear-gradient(top, #abaeaf, #88898a);
}
.button.action:active, 
.ui-button.action:active {
    border-color: #727171;
    background-color: #727171;
    background: -webkit-gradient(linear, left top, left bottom, from(#595857), to(#727171));
    background: -moz-linear-gradient(top, #595857, #727171);
}

/* -- Primary Button */
.blog .button.primary, 
.blog .ui-button.primary {
    border-color: #5c909c;
    background-color: #5c909c;
    background: -webkit-gradient(linear, left top, left bottom, from(#9abcc3), to(#5c909c));
    background: -moz-linear-gradient(top, #9abcc3, #5c909c);
}
.blog .button.primary:hover, 
.blog .ui-button.primary:hover {
    background-color: #6a9ca7;
    background: -webkit-gradient(linear, left top, left bottom, from(#aac7cd), to(#6a9ca7));
    background: -moz-linear-gradient(top, #aac7cd, #6a9ca7);
}
.blog .button.primary:active, 
.blog .ui-button.primary:active {
    background-color: #80989b;
    background: -webkit-gradient(linear, left top, left bottom, from(#53727d), to(#80989b));
    background: -moz-linear-gradient(top, #53727d, #80989b);
}
.website .button.primary, 
.website .ui-button.primary {
    border-color: #839b5c;
    background-color: #839b5c;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3c39a), to(#839b5c));
    background: -moz-linear-gradient(top, #b3c39a, #839b5c);
}
.website .button.primary:hover, 
.website .ui-button.primary:hover {
    border-color: #8fa76a;
    background-color: #8fa76a;
    background: -webkit-gradient(linear, left top, left bottom, from(#bfcdaa), to(#8fa76a));
    background: -moz-linear-gradient(top, #bfcdaa, #8fa76a);
}
.website .button.primary:active, 
.website .ui-button.primary:active {
    border-color: #a8c97f;
    background-color: #a8c97f;
    background: -webkit-gradient(linear, left top, left bottom, from(#7b8d42), to(#a8c97f));
    background: -moz-linear-gradient(top, #7b8d42, #a8c97f);
}

/* -- Disable Button */
.button.disabled, 
.button.action.disabled, 
.button.primary.disabled, 
.ui-button.disabled, 
.ui-button.action.disabled, 
.ui-button.primary.disabled {
    border-color: #c0c6c9 ! important;
    cursor: default ! important;
    background: #f3f3f3 ! important;
    color: #c0c6c9 ! important;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* -- Edit Field Button */
.mt-edit-field-button {
    margin-left: 0.5em;
}

/* -- Split Button */
.split .button {
    float: left;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    padding-right: 0.8em;
}

.split .toggle-button {
    margin-left: -1px;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}

.split .detail {
    width: 99%;
}

.ui-helper-hidden-accessible {
    position: absolute;
}

#alignment li {
    display: inline;
}

#alignment .ui-button {
    width: 50px;
    margin: 0;
}