.listing-block {
    position: relative;
}

.listing-table { 
    width: 100%;
    margin: 0 auto;
    border: 1px solid #c0c6c9;
    table-layout: fixed;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
}

#list-overlay {
    z-index: 1001;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.col { 
    width: 13%;
    padding: 7px 8px;
    border: solid #c0c6c9;
    border-width: 0 0 1px;
    text-align: left;
    vertical-align: top;
}
.col a { 
    color: #274a78;
}
.col.primary { 
    width: auto;
    min-width: 15%;
}
.col.num { 
    width: 7em;
}
.col.id { 
    width: 4.5em;
}
.col.entry, 
.col.target { 
    width: 25%;
}
.col.cb, 
.col.si, 
.col.view { 
    width: 2.6em;
    text-align: center;
}

.col.head { 
    padding: 0;
    border-width: 0 0 1px 1px;
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    font-size: 11px;
    font-weight: bold;
    text-shadow: rgb(248,251,248) 0 1px 0;
    white-space: nowrap;
    vertical-align: middle;
}
tfoot .col.head{
    border-width: 0 0 0 1px;
}
.col.head.first-child {
    border-left: 0;
}
.col.head a {
    text-decoration: none;
}
.col.sorted { 
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));
    background: -moz-linear-gradient(top, #dcdddd, #f3f3f3);
}
.col.head div {
    position: relative;
}
.sort-link {
    display: block;
    width: 100%;
    margin-right: 18px;
    padding: 7px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sorted .sort-link {
    width: auto;
    padding-right: 0;
}
.sm {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: transparent center no-repeat;
}
.sm.asc {
    background-image: url(../images/arrow/arrow-sort-top.png);
}
.sm.desc {
    background-image: url(../images/arrow/arrow-sort-bottom.png);
}

/* -- Sub Column */
.col .description {
    margin: 0.75em 0 0;
    font-size: 95%;
}
.col .status {
    margin-right: 3px;
}
.col .picture {
    margin-bottom: 0;
    width: 45px;
    height: 45px;
}
.col .picture img {
    border: 0;
}
.col .thumbnail {
    border: 1px solid #c0c6c9;
}

/* -- List Actions */ 
.list-actions {
    float: left;
}

/* -- Page Navigation */
.indicator,
.pagination {
    float: right;
    height: 22px;
    line-height: 22px;
    font-family: Arial, sans-serif;
    vertical-align: middle;
    text-align: right;
    overflow: auto;
}
.pagenav, 
.current-rows {
    margin: 0 0.25em;
}
.current-rows {
    font-weight: bold;
}

/* - Legacy Listing */ 
.legacy.listing-table {
    margin: 0 0 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.has-filter .legacy.listing-table {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius: 0 0 5px 5px;
}
.legacy.listing-table .col.head {
    padding: 7px 8px;
}

/* - Filter */
.filter-block {
    border: solid #c0c6c9;
    border-width: 1px 1px 0;    
    background-color: #f3f3f3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}
.filter-header .toggle-button {
    border-top-right-radius: 5px;
    -moz-border-radius: 0 5px 0 0;
}
#filter-detail {
    border: solid #c0c6c9;
    border-width: 1px 0 0;
}
.filteritem {
    position: relative;
    margin: 0 10px 0;
    padding: 10px 10px 0;
    background-color: #fff;
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0;
}
.filtertype {
    margin-bottom: 10px;
}
.filteritem .item-label {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.handle-filter {
    text-align: right;
}
.tool-link {
    margin: 0 0 0 0.5em;
}
.rename-link, 
.rename-link:hover {
    color: #c53d43;
}
.ui-dialog-content {
    position: relative;
}
.edit-filter {
    position: absolute;
    right: 5px;
    top: 5px;
}

.item-action {
    display: inline-block;
    margin-left: 8px;
}

/* - Asset Preview */
.col .asset-preview {
    display: none;
    margin-top: 10px;
}

/* - Listing Panel */
.panel-header {
    position: relative;
    padding: 10px 0;
}
.selected-items {
    min-height: 30px;
}
.selected-items .sticky-label {
    padding: 0 0 0 0.3em;
    margin: 0 0.2em 0.5em 0;
    background-color: #dcdddd;
    text-decoration: none;
}
.selected-items .sticky-label .remove {
    border-left: 1px solid #adadad;
    padding: 0 0.3em;
    margin-left: 0.3em;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.selected-items .sticky-label .remove:hover {
    background-color: #adadad;
    color: white;
}
