.sortable-header {
    border: solid #c0c6c9;
    border-width: 1px;
    background-color: #dcdddd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}

#root {
    min-height: 250px;
    padding: 15px;
    border: solid #c0c6c9;
    border-width: 0 1px 1px;
    background-color: #f3f3f3;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.sortable-item,
.add-form {
    clear: right;
    position: relative;
    background-color: #fff;
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0;
}
.sort-tab {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 20px;
    height: 100%;
    background-color: #e8ecef;
    cursor: move ! important;
}


.sortable-item .item-label {
    margin-left: 20px;
}

.sortable-item .label a {
    display: inline-block;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#root .ui-state-highlight {
    position: relative;
    z-index: 100;
    height: 35px;
    margin: 5px -10px;
    border-top: 2px solid #adadad;
}

#root .target {
    position: relative;
    display: inline-block;
    height: 100%;
}

#root .marker {
    position: absolute;
    top: -7px;
    right: -20px;
    width: 20px;
    height: 10px;
    background: transparent url(../images/arrow-target-mark.png) center bottom no-repeat;
}

.add-form {
    padding-left: 30px;
}
