/* - Generic */
html, 
body { 
    height: 100%;
}

body {
    color: #2b2b2b;
    background-color: #fffffc;
    font-size: 13px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

a { 
    color: #5C909B;

}
a:hover, 
a:active { 
    color: #839B5C;
    text-decoration: none;
}

/*
.website a { 
    color: #839B5C;
}
.website a:hover, 
.website a:active { 
    color: #7b7c7d;
}
.system a { 
    color: #7b7c7d;
}
.system a:hover, 
.system a:active { 
    color: #2b2b2b;
}
*/

pre {
    margin: 10px 0 0;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    color: #7b7c7d;
}

/* - Component */
.hint { 
    max-width: 75%;
    color: #a3a3a2;
    font-size: 95%;
    font-style: Italic;
}

.alert-warning-inline { 
    margin: 5px 0 0;
    color: #f39800;
}

.alert-warning-inline a { 
    color: #f39800;
}

.picture {
    clear: both;
    position: relative;
    margin: 1.5em 0;
    text-align: center;
}
.picture.small {
    float: left;
    margin: 0 10px 0.5em 0;
}

.picture img { 
    margin: 0 auto;
    height: auto;
    border: 1px solid #c8c2be;
}

.sticky-label {
    display: inline-block;
    padding: 0.2em 0.3em;
    background-color: #f3f3f3;
    border-radius: 3px;
}

/* -- Overlay */
.overlay, 
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9ea1a3;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* -- Toggle Button */
.toggle-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    border-left: 1px solid #c0c6c9;
    text-align: center;
}
.toggle-button:hover {
    background-color: #e7e7eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e7e7eb));
    background: -moz-linear-gradient(top, #fafafa, #e7e7eb);
}
.active .toggle-button {
    background-color: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#ebebeb));
    background: -moz-linear-gradient(top, #dbdbdb, #ebebeb));
}

.toggle-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
}

.filter-header .toggle-button {
    width: 35px;
}

.menu-nav .toggle-button { 
    width: 20px;
}

.filter-header .toggle-button img, 
.menu-nav .toggle-button img { 
    margin: -3px 0 0 -5px;    
}

/* -- Toggle Link */
.toggle-link { 
    display: inline-block;
    padding-left: 15px;
    background: transparent;
    text-decoration: none;
    background: transparent url(../images/arrow/spinner-right.png) no-repeat left center;
}
.toggle-link:hover {
    text-decoration: underline;
}
.active .toggle-link {
    background-image: url(../images/arrow/spinner-bottom.png);
}
.detail {
    clear: both;
}

#progress-bar, 
.progress-bar {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.close-link { 
    position: absolute;
    top: 15px;
    right: 15px;
}

.rall {
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.rtop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}
.rleft {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius: 5px 0 5px 0;
}
.rright {
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius: 0 5px 0 5px;
}
.rbottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.option {
    margin: 10px 0;
}

/* -- Tabs */
.ui-tabs .ui-tabs-hide {
    display: none;
}

.ui-tabs-nav, 
ul.tabs { 
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c2be;
}

.ui-tabs-nav li, 
ul.tabs li {
    display: inline-block;
    border: 1px solid #c8c2be;
    margin: 0 0 -1px 5px;
    background-color: #f3f3f3;
    -moz-border-radius: 3px 3px 0 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-tabs-nav li.first-child, 
ul.tabs li.first-child { 
    margin-left: 10px;
}
.ui-tabs-nav li.ui-tabs-selected,
ul.tabs li.selected-tab { 
    border-bottom-color: #fff;
    background-color: #fff;
}
.ui-tabs-nav li.ui-state-hover {
    background-color: #fff;
}

.ui-tabs-nav li a, 
ul.tabs li a {
    display: block;
    padding: 3px 10px;
    color: #2b2b2b;
    text-decoration: none;
    outline: 0;
}


/* - Layout */
#container { 
    overflow: hidden;
    position: relative;
    height: auto;
    min-width: 960px;
    min-height: 100%;
}

#content {
    height: auto;
    margin: 0;
    padding: 20px 15px;
}
.has-menu-nav #content {
    margin-left: 175px;
}

#menu { 
    float: left;
    width: 155px;
    margin-left: -175px;
    margin-bottom: 100px;
}

#main {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 100%;
}

/* -- Has Related Content */
.has-related-content #content-body {
    margin-right: 220px;
}
.edit-screen #content-body {
    margin-right: 280px;
}

.has-related-content #main-content {
    float: left;
    clear: left;
}

#related-content {
    float: right;
    clear: right;
    width: 200px;
    margin-right: -220px;
}
.edit-screen #related-content {
    width: 260px;
    margin-right: -280px;
}


/* -- Grid */
.line:after { content:''; display:block; clear:both; }

.unit { float: left; }

.size1of1 { float: none; width: 100%; }
.size1of2 { width: 50%; }
.size1of3 { width: 33.33333%; }
.size2of3 { width: 66.66666%; }
.size1of4 { width: 25%; }
.size3of4 { width: 75%; }
.size1of5 { width: 20%; }
.size2of5 { width: 40%; }
.size3of5 { width: 60%; }
.size4of5 { width: 80%; }

.mod { padding: 10px; position: relative; }



/* - App Header */
#header { 
    position: relative;
    height: 80px;
    background-color: #7b7c7d;
}

.website #header { 
    background-color: #839b5c;
}

.blog #header { 
    background-color: #5c909b;
}

/* -- Brand */
#brand { 
    height: 45px;
    background-color: #2b2b2b;
}

#brand img {
    visibility: hidden;
}

#brand a,
.preview-screen #brand {
    display: block;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 180px;
    height: 35px;
    text-decoration: none;
    background: #2b2b2b url(../images/logo/movable-type-brand-logo.png) center 3px no-repeat;
    outline: 0;
}
.website #brand a,
.website.preview-screen #brand {
    background-image: url(../images/logo/movable-type-brand-logo-website.png);
}
.system #brand a, 
.system.preview-screen #brand {
    background-image: url(../images/logo/movable-type-brand-logo-system.png);
}
#brand a:hover { 
    background-color: #383c3c;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#brand span.tips { 
    display: block;
    position: absolute;
    top: 15px;
    left: 205px;
    color: #7b7c7d;
    text-transform: uppercase;
}

/* - Utility Nav */
#utility-nav {
    position: absolute;
    color: #7B7C7D;
    top: 12px;
    right: 20px;
}

#utility-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#utility-nav a {
    display: inline-block;
    padding: 0 5px;
    color: #C8C2BE;
    text-decoration: none;
    outline: 0;
}
#utility-nav a:hover { 
    color: #dcdddd;
    text-decoration: underline;
}
#utility-nav #user {
    margin-right: 10px;
}
#utility-nav #user a { 
    padding-right: 20px;
    border-right: 2px solid #7B7C7D;
}
#utility-nav #user a:hover { 
    text-decoration: none;
}

#utility-nav #user a:hover span { 
    text-decoration: underline;
}

#utility-nav #user .userpic { 
    margin-top: -1px;
    border: 1px solid #c8c2be;
}

#utility-nav #help { 
    margin-right: 10px;
}

/* - Menu bar */
#menu-bar { 
    position: relative;
    height: 35px;
}

/* -- Selector Nav */
#selector-nav { 
    position: relative;
    z-index: 100;
}

.scope {
    display: inline-block;
    max-width: 100%;
    height: 35px;
    margin: 0;
    padding: 0 10px 0 15px;
    overflow: hidden;
}
.blog .scope {
    max-width: 65%;
}
.scope.website { 
    background-color: #839b5c;
}
.blog .scope.website {
    max-width: 25%;
}
.scope.blog { 
    margin-left: -5px;
    padding-left: 25px;
    background-color: #5c909b;
    background: transparent url(../images/selector-nav-separator_blog.gif) left center no-repeat;
}

.scope a { 
    outline: 0;
    color: #f3f3f3;
    text-decoration: none;
}
.scope a:hover { 
    text-decoration: underline;
    color: #f3f3f3;
}

.scope .toggle-button { 
    float: left;
    position: relative;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 0;
    margin: -9px 10px 0 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.scope-label {
    display: inline-block;
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: #f3f3f3;
    font-size: 115%;
    font-weight: bold;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Scope Selector */
.scope-selector { 
    display: none;
    position: absolute;
    top: 35px;
    left: 10px;
    min-width: 320px;
    max-width: 100%;
    background-color: #7b7c7d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
}

.show-selector .scope-selector { 
    display: block;
}

.scope-list,
.create-action { 
    border-top: 1px solid #9EA1A3;
}

.scope-level {
    margin: 5px 0;
    padding: 0.3em 10px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;    
}
.scope-level.website {
    background-color: #839b5c;
}
.scope-level.blog {
    background-color: #5c909b;
}

.scope-selector li { 
    margin: 0;
    font-weight: normal;
}
.scope-selector a { 
    display: block;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scope-selector a:hover { 
    text-decoration: none;
    background-color: #383c3c;
    color: #fff;
}
.scope-list.website a:hover { 
    background-color: #839B5C;
}
.scope-list.blog a:hover { 
    background-color: #5C909B;
}

.parent { 
    display: inline;
    font-size: 85%;
    font-weight: normal;
}

.select-another { 
    text-align: right;
}

.scope-selector div.last-child li.last-child a { 
    -moz-border-radius: 0 0 5px 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* --- Menu Bar list */
#menu-bar-nav { 
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: 500;
}

#menu-bar-nav a { 
    outline: 0;
}


/* ---- Favorite Action */
.fav-actions-nav { 
    position: relative;
    float: right;
}

.fav-actions-nav .toggle-button {
    width: 5px;
}

.fav-actions-nav .button {
    border-color: #c89932;
    background-color: #c89932;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc800), to(#f8b500));
    background: -moz-linear-gradient(top, #fcc800, #f8b500);
    box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
}
.fav-actions-nav .button:hover {
    border-color: #d0a443;
    background-color: #d0a443;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcf16), to(#ffbf13));
    background: -moz-linear-gradient(top, #ffcf16, #ffbf13);
}

.fav-actions-nav .button:active, 
.fav-actions-nav.active .toggle-button {
    border-color: #c89932;
    background-color: #c89932;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9a62e), to(#e6b422));
    background: -moz-linear-gradient(top, #d9a62e, #e6b422);
}

.fav-actions { 
    border: 1px solid #adadad;
    border-top: 0;
    background-color: #f3f3f3;
    -moz-border-radius: 0 0 3px 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
}

.fav-action {
    margin: 0;
}

.fav-action-link { 
    display: block;
    padding: 3px 5px;
    color: #7b7c7d;
    text-decoration: none;
}
.fav-action-link:hover { 
    color: #2b2b2b;
    text-decoration: underline;
}


/* ---- Nav Icons */
#menu-bar-icons { 
    float: right;
    margin: 0 0 0 8px;
}

#menu-bar-icons li { 
    display: inline;
    margin: 0 0 0 5px;
}

#menu-bar-icons li a { 
    display: inline-block;
    width: 23px;
    height: 23px;
    color: #f3f3f3;
    background-position: center;
    background-repeat: no-repeat;
}
#rebuild-site a {
    background-image: url(../images/nav-icon-publish.png);
}
#view-site a {
    background-image: url(../images/nav-icon-view.png);
}
#cms-search a {
    background-image: url(../images/search-submit.png);
}

#menu-bar-icons li.active a, 
#menu-bar-icons li a:hover { 
    background-color: #9ea1a3;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#rebuild-site span, 
#view-site span, 
#cms-search span, 
#blog-dashboard a span {
    display: none;
}

/* --- Menu bar Search */
.search-form { 
    position: absolute;
    top: 29px;
    right: -10px;
    z-index: 250;
    width: 230px;
    padding: 8px;
    border-top: 1px solid #9ea1a3;
    background-color: #7b7c7d;
    text-align: right;
    -moz-border-radius: 0 0 5px 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#basic-search .search-query {
    outline: 0;
    width: 150px;
}


/* - Navigation Menu */
.menu-nav { 
    position: relative;
    background-color: #fff;
}
.menu-nav * { 
    border-color: #c0c6c9;
}

.menu-nav em { 
    font-style: normal;
}

.menu-nav .item {
    margin: 0;
}

.menu-label { 
    display: inline-block;
    padding: 5px 7px;
}
.sub-menu .menu-label {
    padding: 3px 8px;
}

.menu-link { 
    display: block;
    text-decoration: none;
    outline: 0;
}
.top-menu-link { 
    margin-right: 20px;
    padding: 0;
}
.current .top-menu-link { 
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#dbdbdb));
    background: -moz-linear-gradient(top, #ebebeb, #dbdbdb));
    color: #2b2b2b;
    font-weight: bold;
    text-shadow: #f8fbf8 0 1px 0;
}
.sub-menu-link { 
    color: #7b7c7d;
    text-decoration: none;
}
.sub-menu-link:active, 
.sub-menu-link:hover { 
    background-color: #e7e7eb;
}
.sub-menu-link.current { 
    background-color: #dcdddd;
}

.top-menu div { 
    position: relative;
    border-style: solid solid none;
    border-width: 1px;
}

.sub-menu { 
    display: none;
    border-style: solid solid none;
    border-width: 1px;
    background-color: #f3f3f3;
}
.current .sub-menu { 
    display: block;
}

.menu-nav  { 
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.top-menu.first-child div { 
    -moz-border-radius: 5px 5px 0 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.top-menu.last-child div, 
.top-menu.last-child .sub-menu { 
    -moz-border-radius: 0 0 5px 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #c8c2be;
}

.top-menu.first-child .toggle-button {
    -moz-border-radius: 0 5px 0 0;
    border-top-right-radius: 5px;
}

.top-menu.last-child .toggle-button {
    -moz-border-radius: 0 0 5px 0;
    border-bottom-right-radius: 5px;
}

.top-menu-open.last-child div, 
.top-menu-open.last-child .toggle-button { 
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 0;
}

.current.first-child .top-menu-link {
    -moz-border-radius: 5px 0 0 0;
    border-top-left-radius: 5px;
}


/* - Content Header */
#content-header {
    position: relative;
    margin-bottom: 15px;
}
.title.page { 
    font-size: 185%;
    font-weight: normal;
}
.title.panel { 
    margin-bottom: 10px;
}



/* -- Object Nav */
.object-nav { 
    position: absolute;
    top: 5px;
    right: 0;
    font-family: Arial, sans-serif;
}
.object-nav span { 
    color: #9EA1A3;
}
.object-nav li { 
    display: inline-block;
    line-height: 1;
    margin: 0;
}

.object-nav li a, 
.object-nav li span { 
    display: inline-block;
    text-decoration: none;
    padding: 0.3em 0.5em;
    background-color: #f3f3f3;
    outline: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.object-nav li a:hover { 
    text-decoration: underline;
}

/* - Related Content */
/* -- Widget */
.widget { 
    border: 1px solid #c0c6c9;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.widget-header { 
    position: relative;
    margin-bottom: 10px;
    padding: 7px 10px 5px;
    border-bottom: 1px solid #c0c6c9;
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}
.widget-header a { 
    color: #7b7c7d;
}

.widget-label { 
    margin: 0;
    color: #2b2b2b;
    font-size: 110%;
}

.widget-close-link { 
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    margin-top: 7px;
    background-image: url(../images/widget/widget-icons.png);
    background-position: -32px 0;
    background-repeat: no-repeat;
}
.widget-close-link span { 
    display: none;
}

.widget-content { 
    padding: 0 10px 10px;
}


/* - Status widget */
.loaded-revision .status-widget { 
    background-color: #f2f2b0;
}

/* - Fields */
fieldset { 
    margin-bottom: 3em;
}

.field {
    overflow: hidden;
    padding: 0 0 10px;
}

.field-header {
    color: #2b2b2b;
    font-weight: bold;
}

.field-left-label .field-header {
    float: left;
    width: 13em;
    margin-right: 10px;
    text-align: right;
}
.field-left-label .field-content {
    margin-left: 15em;
}

.field-top-label .field-header {
    margin-bottom: 3px;
}

.field-inline, 
.field-inline .field-header, 
.field-inline .field-content { 
    display: inline;
}

.field-inline { 
    margin-right: 10px;
}

.field-content-text {
    padding-top: 5px;
}

.field-no-header .field-header {
    display: none;
}
.field-no-header .field-content {
    margin-left: 0;
}

.field .hint {
    margin-top: 5px;
}

#display_image-field { 
    margin-top: 0;
}

#system_users-field .listing { 
    margin-bottom: 10px;
}


/* - Actions Bar */
.actions-bar { 
    position: relative;
    margin: 10px 0; 
}
.actions-bar-bottom { 
    margin-top: 50px;
    margin-bottom: 0.75em;
}
.listing .button-actions { 
    margin-right: 10px;
}

.plugin-actions { 
    margin-top: 15px;
    text-align: right;
}

/* -- Auto save message */
.autosave-notification { 
    margin-top: 1em;
}

/* - Dashboard */
/* -- Welcome Widget */
.welcome-widget {
    border: 0;
    background-color: #5C909B;
    color: #f8fbf8;
    font-family: "Lucida Grande", Verdana, sans-serif;
}

.welcome-widget .widget-header { 
    margin-bottom: 5px;
    border: 0;
    background: transparent;
    text-align: center;
}

.welcome-widget .widget-label {
    margin: 0;
    padding-top: 5px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    color: #f8fbf8;
    text-shadow: #2b2b2b 0 2px 3px;
}

.welcome-widget .widget-content { 
    margin-top: 10px;
}

.welcome-widget .picture img { 
    border: 0;
}

.welcome-widget .useful-links { 
    margin-left: 160px;
}

.welcome-widget .widget-content li {
    display: block;
    padding-left: 20px;
    background: url(../images/widget/checked.gif) left 3px no-repeat;
    color: #f8fbf8;
    font-size: 16px;
    font-weight: bold;
}

.welcome-widget .widget-content li .description { 
    display: block;
    color: #dcdddd;
    font-size: 12px;
    font-weight: normal;
}

.welcome-widget .widget-content li a { 
    color: #f8fbf8;
}

.welcome-widget .widget-content li a:hover { 
    text-decoration: none;
}

/* -- You Widget */
.user .you-widget {
    clear: both;
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.user .you-widget .widget-header { 
    display: none;
}

.user .you-widget .widget-content { 
    padding: 0;
}

.you-widget .user-pic { 
    position: relative;
    width: 90px;
    height: 90px;
}

.you-widget .user-stats { 
    margin-left: 110px;
}

/* -- Favorite Website, Blog Widget */
/* --- on User Dashboard --- */
#favorite_blogs .widget-header { 
    padding-bottom: 0;
    border-bottom: 0;
}

#favorite_blogs .widget-label { 
    display: none;
}

#favorite_blogs #favorite-blogs-tabs { 
    margin: 0 -10px;
}

#favorite_blogs #favorite-blogs-tabs ul.tabs { 
    margin-bottom: 0;
    width: 100%;
}

/* --- on System, Website Dashboard --- */
.favorite-blogs-widget .widget-content { 
    margin-top: 20px;
}

.favorite-blogs-widget .blog-container { 
    height: 355px;
    margin-right: -10px;
    overflow: auto;
}

.favorite-blogs-widget .blog-content { 
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.favorite-blogs-widget .blog-theme-thumbnail img { 
    width: 100px;
    height: 75px;
}

.favorite-blogs-widget .blog-meta { 
    margin-right: 110px;
    margin-left: 110px;
}

.favorite-blogs-widget .blog-name { 
    padding-top: 3px;
    /*font-size: 16px;*/
}
.favorite-blogs-widget .blog-name a { 
    color: #2b2b2b;
    text-decoration: underline;
}
.favorite-blogs-widget .blog-name a:hover { 
    text-decoration: none;
}

.favorite-blogs-widget .blog-name span.parent-website { 
    margin-left: 5px;
    color: #7b7c7d;
    /*font-size: 11px;*/
    font-weight: normal;
}
.favorite-blogs-widget .blog-name span.parent-website a { 
    color: #7b7c7d;
    text-decoration: none;
}
.favorite-blogs-widget .blog-name span.parent-website a:hover {  
    color: #2b2b2b;
    text-decoration: underline;
}

.favorite-blogs-widget .blog-link { 
    margin-bottom: 10px;
    overflow: hidden;
}
.favorite-blogs-widget .blog-link a { 
    text-decoration: none;
}
.favorite-blogs-widget .blog-link a:hover { 
    text-decoration: underline;
}

.favorite-blogs-widget .blog-description { 
    margin-bottom: 15px;
}

.favorite-blogs-widget .blog-control li { 
    display: inline;
    margin-left: 5px;
    padding-right: 5px;
    border-right: 2px solid #C8C2BE;
}
.favorite-blogs-widget .blog-control li.first-child { 
    margin-left: 0;
}
.favorite-blogs-widget .blog-control li.last-child { 
    padding: 0;
    border: 0;
}

.favorite-blogs-widget .blog-action {
    position: absolute;
    top: 5px;
    right: 10px;
}

.favorite-blogs-widget .blog-action li {
    line-height: 1.1;
}

.favorite-blogs-widget .blog-action a.button {
    width: 80px;
    text-align: center;
}

.favorite-blogs-widget .select-website, 
.favorite-blogs-widget .select-blog { 
    margin-top: 15px;
    text-align: right;
}
.favorite-blogs-widget .select-website a, 
.favorite-blogs-widget .select-blog a { 
    margin-right: 15px;
}

/* -- Blog Stats Widget */
.blog-stats-widget { 
    min-height: 480px;
}

#blog-stats-widget-tabs { 
    margin: 0 -10px;
}

.blog-stats-widget-panel { 
    overflow: hidden;
}

.blog-stats-widget embed { 
    display: block;
    width: 540px;
    height: 120px;
    margin: 0 auto;
}

.blog-stats-widget .stats-summary {
    /*font-size: 15px;*/
    text-align: center;
}

.blog-stats-widget .tab-panel-header { 
    margin: 20px 0 10px;
    font-weight: bold;
}

.blog-stats-widget .odd {
    background-color: #f3f6f9;
}

.blog-stats-widget .content {
    padding: 10px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 8px 13px;
    overflow: hidden;
}

.blog-stats-widget .content p {
    margin-bottom: .5em;
}

.blog-stats-widget .content .meta {
    color: #9EA1A3;
}

.blog-stats-widget-panel .view-all {
    margin-top: 10px;
    text-align: right;
}

/* --- Blog Stats: Comments */
.blog-stats-widget .comment-status-publish {
    background-image: url('../images/status_icons/success.gif');
}
.blog-stats-widget .comment-status-pending {
    background-image: url('../images/status_icons/warning.gif');
}

/* --- Blog Stats: Entries */
.blog-stats-widget .entry h4 {
    /*font-size: 13px;*/
}
.blog-stats-widget .entry h4 a {
    color: #2b2b2b;
}
.blog-stats-widget .entry h4 a:hover {
    color: #5C909B;
}

.blog-stats-widget .entry-status-publish {
    background-image: url('../images/status_icons/success.gif');
}
.blog-stats-widget .entry-status-review {
    background-image: url('../images/status_icons/warning.gif');
}
.blog-stats-widget .entry-status-spam {
    background-image: url('../images/status_icons/warning.gif');
}
.blog-stats-widget .entry-status-draft {
    background-image: url('../images/status_icons/draft.gif');
}
.blog-stats-widget .entry-status-future {
    background-image: url('../images/status_icons/future.gif');
}

/* --- Blog Stats: Tags */
.blog-stats-widget #tag-cloud {
    margin-top: 10px;
}
.blog-stats-widget #tag-cloud-list li {
    display: inline;
    padding-right: 10px;
}

.blog-stats-widget .tag-1 { 
    font-size: 24px;
}
.blog-stats-widget .tag-2 { 
    font-size: 22px;
}
.blog-stats-widget .tag-3 { 
    font-size: 20px;
}
.blog-stats-widget .tag-4 { 
    font-size: 18px;
}
.blog-stats-widget .tag-5 { 
    font-size: 16px;
}
.blog-stats-widget .tag-6 { 
    font-size: 14px;
}

/* --- Blog Stats: Registrations */
.blog-stats-widget .author { 
    padding: 10px;
}

.blog-stats-widget .auth-icon {
    width: 12px;
    height: 12px;
}

.blog-stats-widget .author h4 { 
    margin-top: 5px;
}

/* -- MT News */
.news-widget #news-widget-tabs { 
    margin: 0 -10px 15px;
}

.news-widget .news-widget-list {
    display: none;
}

.most-recent-entry .excerpt { 
    margin-top: 10px;
}

/* -- Include Templates Widget */
.include-from {
    display: block;
    margin-left: 20px;
    font-size: 85%;
}
.tmpl-label.error {
    color: #9e3d3f;
}


/* -- Checkboxes, Status Icons */
.listing .cb, 
.listing .si, 
.listing .view { 
    width: 2.5em;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.listing .view, 
.listing .linked-template { 
    width: 4em;
}

.listing td.settings { 
    text-align: center;
}


/* -- Create Inline */
.create-inline {
    display: none;
    margin-bottom: 10px;
    padding: 8px 10px;
    background-color: #dcdddd;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



/* -- List Template */
#list-template .listing-header p, 
#list-widget-set .listing-header p { 
    margin-bottom: 0.5em;
}
#list-template .listing .output-file { 
    width: 45%;
}
#list-template .listing .output-file ul li, 
#list-template .listing .publishing-method ul li { 
    margin-bottom: 0;
}

/* -- List Tag */
.list-tag td .field { 
    margin: 0;
}
.list-tag td .field-content input { 
    width: 50%;
}


/* -- List Asset */
#asset-listing-table .si { 
    width: 90px;
}
#asset-listing-table .file-status .asset-thumb { 
    margin: 0 auto;
}

#asset-listing-table .asset-thumb {
    height: 75px;
    width: 75px;
    border: 2px solid #C8C2BE;
    background: #EEE url(../images/asset/file.gif) no-repeat center center;
}
#asset-listing-table .asset-thumb { background-image: url(../images/asset/file.gif); }
#asset-listing-table .asset-type-image .asset-thumb { background-image: url(../images/asset/image.gif); }
#asset-listing-table .asset-type-audio .asset-thumb { background-image: url(../images/asset/audio.gif); }
#asset-listing-table .asset-type-video .asset-thumb { background-image: url(../images/asset/video.gif); }

#asset-listing-table .status-missing .asset-thumb { background-image: url(../images/asset/file-warning.gif); }
#asset-listing-table .status-missing .asset-type-image .asset-thumb { background-image: url(../images/asset/image-warning.gif); }
#asset-listing-table .status-missing .asset-type-audio .asset-thumb { background-image: url(../images/asset/audio-warning.gif); }
#asset-listing-table .status-missing .asset-type-video .asset-thumb { background-image: url(../images/asset/video-warning.gif); }

#asset-listing-table .asset-thumbnail .asset-thumb {
    position: relative;
    height: 79px;
    width: 79px;
    overflow: hidden;
    background: #2b2b2b;
    border: none;
}

#asset-listing-table .asset-no-thumbnail .asset-thumb a {
    display: block;
    height: 75px;
}
#asset-listing-table .asset-thumb a span {
    display: none;
}

#asset-listing-table .asset-thumbnail .asset-type-youtube .asset-thumb a img {
    margin-left: -25px;
    margin-top: -9px;
}

#asset-listing-table .status-missing .as-asset-type {
    background: url(../images/status_icons/warning.gif) no-repeat left center;
    padding-left: 15px;
}

.asset-image {
    background-image: url(../images/asset-image.gif);
}

#asset-listing-table .asset-thumb-innner {
    margin: 2px;
}

.asset-listing-table .as-file-status .asset-preview-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: transparent url(../images/preview.gif) no-repeat;
}
.asset-listing-table .as-file-status .asset-preview-link a:hover {
    text-decoration: none;
}
.asset-listing-table .as-file-status .asset-preview-link span {
    display: none;
}

.asset-icon {
    height: 146px;
    border: 1px solid #d7e3f5;
    background: #fff url('../images/filetype_icons/default_lg.gif') no-repeat center 5px;
    text-align: center;
}

.asset-icon strong {
    display: block;
    margin-top: 108px;
    height: 18px;
    color: #2b2b2b;
    font-style: italic;
    font-weight: normal;
}

.asset-icon a {
    display: block;
    height: 18px;
}

/* -- List Notification */
.list-notification .create-inline input[type="text"] { 
    width: 25%;
}

/* -- List Revision */
#page-revison-listing, 
#entry-revision-listing, 
#template-revision-listing { 
    margin-bottom: 0;
    padding: 0;
}

.list-revision-dialog tr.current-revision { 
    background-color: #f2f2b0 ! important;
}

.list-revision-dialog .datetime { 
    width: 25%;
}

.list-revision-dialog .note { 
    width: 50%;
}

/* - Edit Comment, Ping, Author & Entry */
.edit-comment #status-field,
.edit-ping #status-field,
.edit-author .user-status-disabled,
.edit-group .group-status-disabled {
    position: relative;
    padding: 10px 0 10px;
}

.edit-comment .comment-status-unapproved,
.edit-ping .ping-status-unapproved,
.edit-author .user-status-pending, 
.edit-comment .comment-status-spam,
.edit-ping .ping-status-spam,
.edit-author .user-status-disabled,
.edit-group .group-status-disabled {
    background-color: #fef263;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#junk-message {
    padding-top: 26px;
    padding-bottom: 10px;
    background-position: 12px 20px;
}

.edit-comment .comment-spam-info,
.edit-ping .ping-spam-info,
.edit-entry .entry-spam-info {
    position: absolute;
    top: 15px;
    right: 10px;
}

.edit-comment #spam-details-toggle,
.edit-ping #spam-details-toggle,
.edit-entry #spam-details-toggle {
    background: url('../images/spinner-right.gif') no-repeat left center;
    padding-left: 11px;
}
.edit-comment #spam-details-toggle.active,
.edit-ping #spam-details-toggle.active,
.edit-entry #spam-details-toggle.active {
    background-image: url('../images/spinner-bottom.gif');
}

#comment-feedback-rating, 
#ping-feedback-rating { 
    margin-top: 10px;
}

#status-field .listing { 
    margin-bottom: 0;
}

.listing .spam-log-listing-table { 
    width: 98%;
}


/* -- Title Field */
.edit-entry #title-field { 
    margin-top: 0;
}
.edit-entry #title {
    outline: none;
    font-size: 200%;
}

/* -- Permalink Field */
.edit-entry #permalink-field .field-content { 
    color: #7b7c7d;
}


/* - Editor */
.editor-toolbar { 
    padding: 8px;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    -moz-border-radius: 5px 5px 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.editor-toolbar .button {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 4px 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    -moz-border-radius: 0;
    border-radius: 0;
}

.editor {
    display: block;
    position: relative;
    padding: 0;
    border: 1px solid #c0c6c9;
    border-top: 0;
    background-color: #fff;
}
.editor textarea, 
.editor iframe {
    width: 100%;
    min-width: 100%;
    height: 550px;
    border: 0;
    box-shadow: 0;
    border-radius: 0;
}
.editor textarea {
    padding: 10px;
}

/* - Edit Entry, Page */

.sort-enabled {
    margin-bottom: 15px;
    padding: 0;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.sort-enabled:hover {
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0; 
}

.sort-enabled .field-header {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}
.sort-enabled .field-header:hover {
    cursor: move;
}
.sort-enabled:hover .field-header {
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    border-bottom: 1px solid #c0c6c9;
}

.sort-enabled .field-content {
    padding: 0 10px 10px;
}

.placeholder {
    margin-bottom: 15px;
    border: 1px dashed #c0c6c9;
    background-color: #fbfbfb;
}

/* - Template */
#template-editor-toolbar {
    text-align: right;
}
#textarea-enclosure { 
    border: solid #c0c6c9;
    border-width: 0 1px 1px;
    background-color: #fff;
    -moz-border-radius: 0 0 3px 3px;
    border-bottom-radius: 3px;
}

/* -- Toggle Highlight */
.button.command-highlight-on, 
.button.command-highlight-off {
    margin: 0;
    background-image: url(../images/buttons/toolbar/toggle-highlight.gif);
}
.button.command-highlight-on:hover, 
.button.command-highlight-off:hover {
    background-image: url(../images/buttons/toolbar/toggle-highlight-hover.gif);
}
.button.command-highlight-on.active, 
.button.command-highlight-off.active {
    background-image: url(../images/buttons/toolbar/toggle-highlight-active.gif);
}
.button.command-highlight-off, 
.button.command-highlight-off:hover {
    width: 23px;
    border-left: 1px solid #c0c6c9;
    background-position: -22px 0;
}
.command-highlight-on .ui-button-text, 
.command-highlight-off .ui-button-text {
    display: none;
}

/* -- Line Numbers */
.CodeMirror-line-numbers {
    width: 2.2em;
    padding: 0.4em 0.3em 0 0;
    border-right: 1px solid #dcdddd;
    color: #a3a3a2;
    text-align: right;
    font-family: monospace;
    line-height: 16px;
}


/* -- Tags Field */
#tags-field { 
    position: relative;
    height: auto;
    overflow: visible;
}

#tags-suggestion { 
    position: relative;
    top: -1px;
    left: 2px;
    width: 100%;
}

#tags_completion {
    display: none;
    min-width: 200px;
    max-width: 100%;
    position: absolute;
    z-index: 100;
    border: 1px solid #c8c2be;
    background-color: #F3F3F3;
}

#tags_completion div {
    padding: 2px 5px;
}

#tags_completion .complete-highlight {
    color: #2b2b2b;
    background-color: #dcdddd;
}

/* -- Status Widget */
#entry-status-widget { 
    position: relative;
}

#entry-status-widget .status { 
    position: absolute;
    top: 7px;
    right: 10px;
}

/* -- Publishing Widget */
#entry-publishing-widget { 
    position: relative;
}

#edit-page #basename { 
    width: 180px;
}

/* --- Publish Date Field */
.edit-entry .date-time-fields .post-date { 
    width: 7em;
}
.edit-entry .date-time-fields .post-time { 
    width: 5.5em;
}
.date-time-fields .scheduled { 
    margin: 5px 0 0 0;
}

/* ---- Date Picker Calendar */
.ui-datepicker { 
    display: none;
    width: 200px;
    border: 1px solid #c8c2be;
    background-color: #fff;
    padding: 2px;
}

.ui-datepicker .ui-datepicker-header { 
    position: relative;
    background-color: #5c909b;
}

.ui-datepicker .ui-datepicker-title { 
    line-height: 22px;
    height: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next { 
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    color: white;
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev { 
    left: 2px;
}
.ui-datepicker .ui-datepicker-next { 
    right: 2px;
}

.ui-datepicker table { 
    width: 100%;
    margin: 0;
    /*font-size: 95%;*/
}

.ui-datepicker th { 
    padding: 0.7em 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}

.ui-datepicker thead .ui-datepicker-week-end { 
    color: #7b7c7d;
}
.ui-datepicker thead span[title=Sunday] { 
    color: #F55;
}
.ui-datepicker span[title=Saturday] { 
    color: #3B83F3;
}

.ui-datepicker td { 
    padding: 1px;
}

.ui-datepicker .ui-state-default { 
    border: 1px solid #c8c2be;
    background-color: #f3f3f3;
}

.ui-datepicker .ui-state-hover { 
    border-color: #7b7c7d;
    background-color: #c8c2be;
}

.ui-datepicker .ui-state-highlight { 
    border-color: #EBD147;
    background-color: #FBF9EE;
}

.ui-datepicker a { 
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
    color: #333;
}

.ui-datepicker, 
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next { 
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* --- Publish Buttons */
#entry-status-widget .actions-bar button, 
#entry-publishing-widget .actions-bar button { 
    min-width: 0;
}
#entry-publishing-widget .actions-bar { 
    height: 25px;
}

#entry-publishing-widget button.preview, 
#entry-publishing-widget a.delete { 
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

#entry-publishing-widget a.delete { 
    display: inline-block;
    top: 50%;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    padding-left: 17px;
    background: transparent url(../images/delete.gif) left bottom no-repeat;
    color: #7b7c7d;
}
#entry-publishing-widget a.delete:hover { 
    background-position: left top;
    color: #9e3d3f;
}

#entry-publishing-widget .delete span { 
    display: none;
}

/* -- Categories Widget */
#category-field { 
    margin: 0;
}
.category-selector { 
    margin: 0 0 30px;
    max-width: 600px;
}
.edit-entry .category-selector { 
    margin-bottom: 10px;
}

.category-selector a { 
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
}

.category-selector-header {
    padding: 0 0 5px;
    text-align: right;
}

.category-selector-list {
    border: 1px solid #c8c2be;
    background: #fff;
    height: 120px;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
    clear: both;
}
.category-selector-list .list-item {
    clear: both;
    margin-bottom: 2px;
    padding: 1px 2px 1px 0;
}
.category-selector-list .list-item label {
    display: inline-block;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.list-item-hover {
    background: #dcdddd;
}

.add-category-new-link {
    float: right;
    width: 9px;
    height: 9px;
    margin-top: 3px;
}
.list-item-hover .add-category-new-link {
    background: url('../images/status_icons/create.gif') no-repeat left center;
}
.add-category-save-link {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    background: url('../images/status_icons/create.gif') no-repeat left center;
}
.add-category-cancel-link {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    background: url('../images/status_icons/error.gif') no-repeat left center;
}
.add-category-new-parent-link {
    padding-left: 11px;
    background: url('../images/status_icons/create.gif') no-repeat left center;
}

.add-category-new-link span,
.add-category-save-link span,
.add-category-cancel-link span {
    display: none;
}

/* --- Add New Category Form */
.add-category-form {
    white-space: nowrap;
}
.category-selector .add-category-form .add-category-input {
    width: 80%;
    margin: 3px 0 5px 2px;
    /*font-size: 12px;*/
}
.category-selector #add-category-form .add-category-input {
    margin-left: 0;
}

.add-category-checkbox {
    margin-left: 2px;
}

.category-toggle-link {
    position: absolute;
    right: 10px;
    top: 8px;
}

.edit-page .add-category-toggle-link {
    position: static;
}

#category-list {
    margin-top: 4px;
}

#category-list strong {
    padding-left: 13px;
    background: url(../images/status_icons/primary.png) no-repeat 0 50%;
}

#category-list a { 
    text-decoration: none;
}

#category-list a.primary {
    padding-left: 13px;
    color: #5c909b;
}
#category-list .focus a.primary {
    background: url(../images/status_icons/primary-disabled.png) no-repeat 0 50%;
}

#category-list .delete {
    padding-right: 9px;
}
#category-list .focus .delete {
    background: url(../images/status_icons/close-disabled.gif) no-repeat right center;
}
#category-list .focus .delete:hover {
    background: url(../images/status_icons/close.gif) no-repeat right center;
}
#category-list .delete span {
    display: none;
}

.add-new-category-link {
    float: right;
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
    position: relative;
    right: 2px;
    top: 9px;
}
.edit-page .add-new-category-link {
    float: none;
    position: static;
}

/* --- Page Folder */
.change-folder-link {
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
}

/* -- Comment Widget */
#allow-feedback-field li { 
    position: relative;
}

.feedback-count { 
    position: absolute;
    right: 0;
}

.comments-link a,
.pings-link a {
    display: inline-block;
    min-height: 18px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.comments-link a {
    background-image: url('../images/nav_icons/color/comments.gif');
}
.pings-link a {
    background-image: url('../images/nav_icons/color/trackbacks.gif');
}

#ping-urls-field { 
    margin-bottom: 0;
}

/* -- Asset List Widget */
#asset_container .widget-content-inner {
   padding: 0px 10px 10px;
}

.asset-list-header {
    margin-bottom: 5px;
    text-align: right;
}

.add-new-asset-link {
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
    text-decoration: none;
}

ul#asset-list li {
    position: relative;
    line-height: 1.2;
    padding: 5px 0 0 18px;
    background-repeat: no-repeat;
    background-position: left center;
}
ul#asset-list li#empty-asset-list { 
    padding-left: 0;
}

ul#asset-list li a.asset-title { 
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

ul#asset-list li a.remove-asset {
    position: absolute;
    background: transparent url(../images/status_icons/close.gif) center no-repeat;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    margin-top: -5px;
}

ul#asset-list li a.remove-asset span { 
    display: none;
}

ul#asset-list li img.list-image {
    position: absolute;
    left: -120px;
    top: -5px;
    padding: 8px;
    background-color: #dcdddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

ul#asset-list .asset-type-file { background-image: url(../images/asset/file.gif); }
ul#asset-list .asset-type-image { background-image: url(../images/asset/image.gif); }
ul#asset-list .asset-type-audio { background-image: url(../images/asset/audio.gif); }
ul#asset-list .asset-type-video { background-image: url(../images/asset/video.gif); }

/* - Preview */
body.preview-screen {
    overflow: hidden;
}

.preview-screen #preview-layout {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 900px;
    height: 100%;
    border-collapse: collapse;
}
.preview-screen #entry-preview-control-strip,
.preview-screen #template-preview-control-strip {
    border-bottom: 1px solid #dcdddd;
    background-color: #2b2b2b;
    color: #f8fbf8;
    height: 70px;
}
.preview-screen #preview-label {
    margin: 0 20px 10px;
    text-align: right;
}
.preview-screen .actions-bar { 
    margin: 0 20px;
    text-align: right;
}
.preview-screen #entry-preview-content, 
.preview-screen #template-preview-content { 
    padding: 0;
}
.preview-screen #entry-preview-content iframe,
.preview-screen #template-preview-content iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

/* -- Template Title */
.edit-template #title-field { 
    margin-top: 0;
}
.edit-template #title {
    outline: none;
    font-size: 200%;
}

#template-body-actions {
    padding: 4px 8px;
    border: 1px solid #c8c2be;
    border-bottom: none;
    background: #f3f3f3;
}

.edit-template th.archive-delete div {
    height: 11px;
    background: url('../images/nav_icons/mini/delete.gif') no-repeat center center;
}
.edit-template th.archive-delete span {
    display: none;
}

.edit-template .delete-archive-link {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('../images/nav_icons/mini/delete.gif') no-repeat center center;
}

.edit-template .delete-archive-link span {
    display: none;
}

.templatemap-listing-table .tmpl-path,
.templatemap-listing-table .tmpl-path-custom,
.templatemap-listing-table #build-type {
    /*font-size: 12px;*/
    width: 100%;
}

.templatemap-listing-table .publish-options { 
    width: 20%;
}

#server_side_include-field .field-content, 
#caching-field .field-content { 
    margin: 10px 0 0  15px;
}

#template-options {
    position: relative;
    background-color: #dcdddd;
    padding: 1px 10px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#template-options-header {
    padding: 10px 0;
}

#template-options.active #template-options-header {
    margin-bottom: 10px;
}

#template-options #template-options-header h3 {
    margin: 0;
    text-shadow: none;
}

#template-options #template-options-header h3 a {
    background: url(../images/arrow/spinner-right.png) no-repeat left center;
    color: #7B7C7D;
    text-decoration: none;
}
#template-options #template-options-header h3 a:hover { 
    text-decoration: underline;
}
#template-options.active #template-options-header h3 a {
    background-image: url(../images/arrow/spinner-bottom.png);
}

#template-options .template-options-summary {
    color: #2b2b2b;
    text-align: right;
}

#template-options.active .template-options-summary {
    display: none;
}

#template-options #template-options-content {
    display: none;
}

#template-options.active #template-options-content {
    display: block;
}

/* --- Archive Mapping */
#archive_mapping-field p { 
    margin-bottom: 3px;
}

#template-options #templatemap-listing { 
    margin-bottom: 5px;
}

#template-options #templatemap-listing-table tr.last-child td.first-child { 
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottm-left-radius: 5px;
}

#template-options #templatemap-listing-table tr.last-child td.last-child { 
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottm-right-radius: 5px;
}


#caching-field ul ul {
    margin-left: 1.5em;
}

#caching-field li {
    margin-bottom: .5em;
}

#caching-field li li {
    display: inline-block;
    width: 30%;
    margin: .5em 0 0;
}

#cache-time-value,
#cache-time-unit {
    vertical-align: middle;
}

#cache-events { 
    margin-top: 3px;
}

/* - Edit Template */
/* -- CodeMirror */

/* - Edit Asset */
.edit-asset .asset-preview {
    position: relative;
    text-align: center;
    width: 260px;
}

.edit-asset .asset-thumb {
    min-height: 260px;
    border: 1px solid #c8c2be;
}

.edit-asset .asset-thumb img { 
    margin: 10px 0;
}

.edit-asset .asset-thumb span {
    display: none;
}
.edit-asset .asset-thumb .asset-missing-msg {
    display: inline;
    background: url(../images/status_icons/warning.gif) no-repeat left center;
    padding-left: 15px;
}

.edit-asset .asset-thumb-metadata {
    margin-top: 10px;
}

.edit-asset .view-asset-link {
    margin-left: 5px;
}

/* -- Related Assets Widget */
#related-assets .asset {
    overflow: hidden;
    clear: left;
    margin-bottom: 5px;
    padding-bottom: 5px; 
}
#related-assets .asset.last-child { 
    margin-bottom: 0;
    padding-bottom: 0;
}

#related-assets .asset-thumb  {
    min-height: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid #c8c2be;
}
#related-assets .asset-no-thumbnail .asset-thumb a {
    display: block;
}
#related-assets .asset-thumbnail .asset-thumb img {
    margin-top: 2px;
    border: 0;
}

.edit-asset #related-assets .asset-thumb a span {
    display: none;
}

.edit-asset #related-assets .asset .asset-metadata {
    margin-left: 95px;
}

.edit-asset #related-assets .asset-label { 
    margin-bottom: 5px;
    word-wrap: break-word;
    /*font-size: 12px;*/
}

.edit-asset #related-assets .asset-size li {
    margin: 0;
    line-height: 1.3;
}

.edit-asset .actions-bar {
    clear: both;
}

.edit-asset .asset-thumb { background: #f3f3f3 url(../images/asset/file.gif) no-repeat center center; }
.edit-asset .asset-type-image .asset-thumb { background-image: url(../images/asset/image.gif); }
.edit-asset .asset-type-audio .asset-thumb { background-image: url(../images/asset/audio.gif); }
.edit-asset .asset-type-video .asset-thumb { background-image: url(../images/asset/video.gif); }

.edit-asset .status-missing .asset-thumb { background-image: url(../images/asset/file-warning.gif); }
.edit-asset .status-missing .asset-type-image .asset-thumb { background-image: url(../images/asset/image-warning.gif); }
.edit-asset .status-missing .asset-type-audio .asset-thumb { background-image: url(../images/asset/audio-warning.gif); }
.edit-asset .status-missing .asset-type-video .asset-thumb { background-image: url(../images/asset/video-warning.gif); }


/* - Edit Comment, Ping */

/* - Edit Role */
#permission-list li { 
    display: inline-block;
    width: 195px;
}

/* - Settings */
#system-check iframe {
    width: 758px;
    height: 400px;
}

#system-check .field {
    border-bottom: 0;
    padding-bottom: 0;
}

.settings-screen ul#editor-fields { 
    width: 600px;
}
.settings-screen ul#editor-fields li {
    display: inline-block;
    width: 30%;
}

.settings-screen a#increase-threshold,
.settings-screen a#decrease-threshold {
    color: #383c3c;
    /*font-size: 10px;*/
    text-decoration: none;
    vertical-align: text-top;
}

.edit-comment .commenter-actions a {
    white-space: nowrap;
}

.edit-comment .commenter-detail-link { 
    text-decoration: none;
}

.edit-comment .commenter-trust,
.edit-comment .commenter-ban,
.edit-comment .commenter-neutral {
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 3px 4px;
    /*font-size: 9px;*/
    text-decoration: none;
    background-repeat: repeat-x;
    background-position: top left;
}

.edit-comment .commenter-trust:hover,
.edit-comment .commenter-ban:hover,
.edit-comment .commenter-neutral:hover {
    background-position: top left;
}

.edit-comment .commenter-trust {
    border-color: #a8e5a8;
    background-color: #a8e5a8;
    background-image: url(../images/trust-bg.gif);
}

.edit-comment .commenter-ban {
    border-color: #f2b1b1;
    background-color: #f2b1b1;
    background-image: url(../images/ban-bg.gif);
}

.edit-comment .commenter-neutral {
    border-color: #bbb;
    background-color: #bbb;
    background-image: url(../images/neutral-bg.gif);
}

.edit-comment .commenter-trust {
    color: #030 !important;
}

.edit-comment .commenter-ban {
    color: #300 !important;
}

.edit-comment .commenter-neutral {
    color: #333 !important;
}


/* -- General Settings */
#has-license-field p { 
    margin: 5px 0 0;
}

#has-license-field .actions-link { 
    display: block;
    margin-top: 5px;
}

.content-path {
    margin-bottom: 10px;
    font-size: 110%;
    font-weight: bold;
}

.path-text {
    color: #7b7c7d;
}

/* -- System General Settings */
input#system_debug_mode, 
input#system_performance_logging_threshold { 
    width: 4em;
    text-align: center;
}

/* -- Web Service Settings */
#remote_auth_token {
    width: 200px;
}


/* -- Plugin Settings */
#list-plugins .plugin .plugin-status a:link,
#list-plugins .plugin .plugin-name a:link,
#list-plugins .plugin .plugin-tabs a:link,
#list-plugins .plugin .plugin-status a:visited,
#list-plugins .plugin .plugin-name a:visited,
#list-plugins .plugin .plugin-tabs a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

#list-plugins .plugin-group {
    margin-bottom: 30px;
}

#list-plugins .plugin-group-name { 
    margin-bottom: 5px;
}

#list-plugins .plugin {
    margin-bottom: -1px;
    border: 1px solid #c8c2be;
    background-color: #fff;
}
#list-plugins .plugin-expanded {
    background-color: #f8fbf8;
}

#list-plugins .plugin-header { 
    position: relative;
}
#list-plugins .plugin-name {
    border: none;
    /*font-size: 14px;*/
    margin: 0;
}
#list-plugins .plugin-name a,
#list-plugins .plugin-name .plugin-name-disabled {
    display: block;
    padding: 10px 10px 10px 35px;
    background: url('../images/plugin-error.gif') no-repeat 10px 10px;
    outline: 0;
}

#list-plugins .plugin-name a:hover {
    display: block;
    background-color: #f8fbf8;
}
#list-plugins .plugin-status {
    position: absolute;
    top: 10px;
    right: 10px;
    /*font-size: 11px;*/
}
#list-plugins .plugin-status a.button {
    margin: -3px 0 0 5px;
    text-align: center;
}

#list-plugins .plugin-content {
    display: none;
}
#list-plugins .plugin-expanded .plugin-content {
    display: block;
    margin: 0 10px 10px;
}

#list-plugins .plugin-tabs-list li {
    border: 0;
    margin: 0 0 2px;
    background-color: transparent;
}
#list-plugins .plugin-tabs-list li.ui-tabs-selected {
    border-bottom: 3px solid #7b7c7d;
    background-color: transparent;
}
#list-plugins .plugin-tabs-list li a {
    padding: 0 10px 0 23px;
    background-position: 10px center;
}

#list-plugins .plugin-metadata-list {
    margin: 0;
}

#list-plugins .plugin-metadata-list li {
    display: inline;
    margin-right: 10px;
}

#list-plugins .setting-advanced { 
    display: none;
}

#list-plugins .actions-bar {
    margin-bottom: 10px;
    text-align: right;
}

#list-plugins #plugin_control .actions-bar { 
    text-align: center;
}

#list-plugins #plugin_control .actions-bar button { 
    margin: 0;
}

/* -- Theme Setting */
#list-themes .theme-group { 
    margin-bottom: 45px;
}

#list-themes .theme { 
    position: relative;
    clear: both;
    overflow: auto;
    margin-bottom: -1px;
    padding: 15px;
    border: 1px solid #c8c2be;
    background-color: #fff;
}
#list-themes .theme-expanded { 
    background-color: #f8fbf8;
}
#list-themes .current-theme { 
    margin-bottom: 15px;
}

#list-themes .theme-status { 
    position: absolute;
    top: 10px;
    right: 10px;
}

#list-themes .theme-status span, 
#list-themes .theme-status a.button {
    margin: 0 0 0 5px;
    text-align: center;
}

#list-themes .theme-status .alert-warning a { 
    color: #2b2b2b;
}

#list-themes .theme .picture.small { 
    margin-bottom: 0;
}

#list-themes .theme-meta { 
    margin-left: 135px;
}

#list-themes .theme-title { 
    /*font-size: 18px;*/
}
#list-themes .theme-title a { 
    color: #2b2b2b;
    text-decoration: underline;
    text-shadow: none;
}
#list-themes .disabled .theme-title a { 
    color: #7b7c7d;
}
#list-themes .theme-title a:hover { 
    text-decoration: none;
}

#list-themes .description { 
    margin: 0;
}

#list-themes .theme-tabs-list li {
    border: 0;
    margin: 0 0 2px;
    background-color: transparent;
}
#list-themes .theme-tabs-list li.ui-tabs-selected {
    border-bottom: 3px solid #7b7c7d;
    background-color: transparent;
}
#list-themes .theme-tabs-list li a {
    padding: 0 10px;
    background-position: 10px center;
}

#list-themes .error-text { 
    margin: 10px 0 0;
}

#list-themes .theme-details { 
    display: none;
    clear: both;
    padding-top: 20px;
    color: #2b2b2b;
}
#list-themes .theme-expanded .theme-details {
    display: block;
}

#list-themes .theme-info ul { 
    margin: 10px 0 10px 1.5em;
}

#list-themes .theme-info li { 
    list-style-type: disc;
}

#list-themes .error-text a,
#list-themes .theme-errors li { 
    color: #f39800;
}


/* -- System User Settings */
#new_user_theme_thumb { 
    margin-bottom: 5px;
}

#new_user_theme_thumb img { 
    border: 1px solid #c8c2be;
}

#select-personal-blog-theme .theme { 
    position: relative;
    overflow: hidden;
    margin-bottom: -1px;
    border: 1px solid #c8c2be;
    background-color: white;
}

#select-personal-blog-theme .theme .theme-thumbnail { 
    margin: 15px;
}

#select-personal-blog-theme .theme .theme-meta { 
    margin: 15px 0 15px 135px;
}

/* -- Edit Author */
.edit-author #system_permissions-field li {
    display: inline-block;
    width: 225px;
}

.edit-author #system_permissions-field li label {
    white-space: nowrap;
}

/* - Contextual Help */
.help-link {
    display: none;
}

#formatting-help-link {
    display: inline;
    text-align: center;
    padding: 0 3px;
    margin: 0 3px 0 0;
    background: #333 url('../images/buttons/button-primary.gif') repeat-x center center;
    color: #fff !important;
    font-weight: bold;
}

#formatting-help-link:hover {
    background-position: -500px center;
}

#formatting-help-link.disabled {
    display: none;
}

/* - Backup & Restore */
.backup-status pre,
.import-process pre {
    overflow: auto;
    margin: 0 0 10px;
    border: 1px solid #c8c2be;
    padding: 10px;
    background-color: #fff;
    height: 300px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#files-listing {
    margin-bottom: .75em;
}

/* - Export Theme */
#template_set h3 { 
    margin-bottom: 5px;
}

#template_set .listing { 
    margin-bottom: 30px;
}

/* -- Template Set */
.template-group {
    position: relative;
    margin-bottom: 10px;
}

.template-group-header {
    position: relative;
}

.template-group-header h3 {
    display: inline-block;
    margin: 0;
    text-shadow: none;
    /*font-size: 14px;*/
}

.template-group-header h3 a {
    color: #2b2b2b;
}

.template-group-summary {
    position: absolute;
    top: 0;
    right: 0;
    color: #888;
    text-align: right;
    width: 400px;
}

.template-group-content table { 
    margin-bottom: 20px;
}

.template-group-content .output-file { 
    width: 60%;
}

div.template-group-content {
    display: none;
}
div.template-group-content.active {
    display: block;
}

/* -- Default Category */
#default_categories-table .display-name { 
    width: 40%;
}

/* -- Default Folder */
#default_folders-table .display-name { 
    width: 35%;
}

/* - Search Replace */
.search-replace .ui-tabs-nav { 
    margin-bottom: 0;
}

.search-replace .search-bar {
    border-bottom: 1px solid #c8c2be;
    padding: 30px 0;
    background-color: #fff;
}

.search-replace .field { 
    margin: 5px 0;
}
.search-replace .field-header { 
    width: 8em;
}
.search-replace .field-content { 
    margin: 0 9em;
}

.search-replace .search-bar-toggle { 
    margin: 0 0 10px 9em;
}

.search-replace .search-bar-toggle input {
    vertical-align: middle;
}
.search-replace #search-bar-search-field input,
.search-replace #search-bar-replace-fields input {
    display: inline-block;
}

.search-replace input#search,
.search-replace input#search-alt,
.search-replace input#replace {
    width: 100%;
    /*font-size: 18px;*/
}

.search-replace textarea#replace { 
    width: 100%;
}

#search-bar-advanced-search { 
    margin-left: 9em;
}
#search-bar-advanced-search li { 
    display: inline-block;
    margin-right: 10px;
}

.search-replace #search-bar-advanced-replace {
    margin-top: 5px;
    display: none;
}

.search-replace .advanced-options {
    margin-top: 5px;
    padding: 10px 0 10px 9em;
    text-align: left;
    background-color: #f3f3f3;
}
.search-replace .advanced-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.search-replace .advanced-options li {
    display: inline-block;
    /*font-size: 11px;*/
    margin: 0 10px 0 0;
}

.search-replace .advanced-options#date-range {
}

.search-replace .advanced-options#date-range input {
    width: 30px;
    /*font-size: x-small;*/
    color: #9ea1a3;
}

.search-replace .advanced-options#date-range input#datefrom_year,
.search-replace .advanced-options#date-range input#dateto_year {
    width: 40px;
}

.search-replace .advanced-options#date-range input.prefilled {
    color: #2b2b2b;
}

.search-replace .actions-bar { 
    margin: 8px 0;
}

.search-replace .search-bar .actions-bar { 
    margin: 10px 9em 0 0;
    text-align: right;
}

/* - Display Optins */
.display-options {
    margin-bottom: 15px;
    text-align: right;
}
.display-options .toggle-link {
    padding: 0.3em 0.5em;
    background: #f3f3f3;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.display-options.active .toggle-link {
    background: #c0c6c9;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius: 3px 3px 0 0;
}
.display-options-detail {
    display: none;
    padding: 10px 10px 0;
    border: 1px solid #c0c6c9;
    border-radius: 3px;
    border-top-right-radius: 0;
    -moz-border-radius: 3px 0 3px 3px;
    text-align: left;
}


/* -- Asset Option */
#asset_details { 
    margin-bottom: 30px;
}

.new-asset #new_entry_prefs {
    margin-bottom: 20px;
}

#new_entry_prefs input {
    /*font-size: 12px;*/
}


/* - Footer */
#footer { 
    border-top: 1px solid #c8c2be;
    padding: 8px 0 1px;
    background-color: #dcdddd;
    font-size: 85%;
}

#footer a { 
    color: #7b7c7d;
}
#footer a:hover, 
#footer a:active { 
    color: #2b2b2b;
}
#footer .inline-nav { 
    margin: 0 20px 10px;
    white-space: nowrap;
}

#footer .inline-nav li { 
    display: inline;
    border: 0;
    border-left: 2px solid #9ea1a3;
    padding: 0 7px;
}

#footer .inline-nav li.first-child { 
    border: none;
    padding-left: 0;
}

#version, 
#copyright {
    margin-left: 20px;
}

/* */
.process-msg { 
    position: relative;
    overflow: auto;
    overflow-x: auto;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    height: 300px;
}

.listing .delete {
    padding-right: 9px;
    background: url(../images/status_icons/close-disabled.gif) no-repeat right center;
    text-decoration: none;
    table-layout:  fixed;
}
.listing .focus .delete {
    background-image: url(../images/status_icons/close.gif);
    text-decoration: none;
}
.listing .delete span {
    display: none;
}

.tt-dynamic span,
.tt-linked span,
.tt-rebuild span {
    display: none;
}
.tt-dynamic img {
    background-image: url('../images/status_icons/dynamic.gif');
}
.tt-linked img {
    background-image: url('../images/status_icons/linked.gif');
}
.tt-rebuild img {
    background-image: url('../images/status_icons/rebuild.gif');
}

#text-field { 
    position: static;
}

/* - beta */
.mt-beta #brand { 
    background-image: url(../images/beta_icons/beta_icon.png);
    background-position: 200px center;
    background-repeat: no-repeat;
}

.mt-beta #brand span.tips { 
    top: 15px;
    left: 245px;
}

.mt-beta #container { 
    padding-bottom: 180px;
}


.mt-beta #footer { 
    padding-top: 0;
}

.mt-beta #footer #msg-beta {
    margin-bottom: 10px;
    border-bottom: 1px solid #c8c2be;
    background-color: #f2f2b0;
    text-align: center;
}

.mt-beta #footer #msg-beta p {
    display: inline-block;
    padding: 0.8em 0 0.8em 45px;
    margin: 0 auto;
    background: transparent url(../images/beta_icons/beta_icon.png) left center no-repeat;
    text-align: left;
}

